
<div class="modals">

    <div class="modal-overlay">
      <div class="modal modal--1" data-target="form-popup">
                <div class="modal__contents">
                   
                    <img id="img_note" class="modal__img" src="#" alt="note_img"> 
      
                    <input id=" note_title"  class="modal__noteName" type="text" placeholder="Введите название">
                    <input  id="coordinates" class="modal__noteCoordinates">
      
                    <textarea id="note_text" class="modal__note" type="text" placeholder="Введите текст..."></textarea>
      
                    <button  class="button button__main  button__center">Создать заметку</button>
                  </div>
      </div>
  </div>
</div>
