<section class="setting">
    <div class="setting__menu">
      <ul>
        <li><a href="#"><img class="menu_icon title__fs20bold" src="../src/icons/settingicon/Filter.svg" alt="Icon 1"> Статус аккаунта</a></li>
        <li><a href="#"><img class="menu_icon title__fs20bold" src="../src/icons/settingicon/Profile.svg" alt="Icon 2"> аккаунт</a></li>
        <li><a href="#"><img class="menu_icon title__fs20bold" src="../src/icons/settingicon/Lock.svg" alt="Icon 3"> Безопастность</a></li>
        <li><a href="#"><img class="menu_icon itle__fs20bold" src="../src/icons/settingicon/Hide.svg" alt="Icon 4"> Приватность</a></li>
        <li><a href="#"><img class="menu_icon itle__fs20bold" src="../src/icons/settingicon/Chat.svg" alt="Icon 5"> Уведомления</a></li>
        <li><a href="#"><img class="menu_icon itle__fs20bold" src="../src/icons/settingicon/Password.svg" alt="Icon 6"> Подключённные устройства</a></li>
      </ul>
    </div>  
</section>
