.setting{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__menu{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-decoration: none;
    }
    &__menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }    
    &__menu a {
        text-decoration: none;
        padding: 15px;
        text-transform:uppercase;
        // color: $textColor;
    }
    &__menu img {
        height: 30px;
        width: 30px;
        margin:10px;
    }

}