.sidebar-menu {
  position: fixed;
  background: none;
  top: 180px;
  left: 100px;
  width: 109px;
  height: 500px;
  display: flex;
  justify-content: center;  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 5px;
}


a {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  font-size: 10px;
}
svg{
  transition:  0.25s;
  fill: rgba(73, 40, 109, 1);
}
svg:hover {
  fill: rgba(73, 40, 109, 1);
  width: 32px;
  height: 32px;
}
span{
  color: rgba(73, 40, 109, 1);
  font-size: 12px;
}
}
