/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');


$primaryColor: rgba(72, 39, 108, 1);
$indexTitleColor:rgba(155, 81, 224, 1);
$textColor: rgba(97, 100, 107, 1);
$textColorBlack: rgb(0, 0, 0);
$frameСolor: rgba(175, 177, 182, 1);

