


<div class="create-notes">

 
  <div class="ribbon__buttons">
    <button class=" button main " data-path="form-popup" > Создать заметку </button> 
    <button  class=" button main " data-path="me-popup" > Моя карта </button>
  </div>           
  
  
  
  

   <div class="notes-contents">
    <img id="note-img" class="notes-img" src="../../../assets/img/notes-stub.jpg" alt="note-img"> 
      
    
    <input id="note-title"  class="notes-title" type="text" placeholder="Введите название">
    <input  id="coordinates" class="notes-coordinates" placeholder="Введите координаты" >

    <textarea id="note-text" class="notes-note" type="text" placeholder="Введите текст..."></textarea>

    <button  class="button main centre ">Создать заметку</button>
  
                   
  
  </div>
</div>
