.create-notes{
    display: block;
    // margin-top: 100px;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    
    justify-content: space-between;
    flex-direction: column; 
    
}




.notes-contents{
    display: flex;
    flex-direction: column; /* Элементы располагаются в виде колонки */
    justify-content: center; 
    margin: 6px ;

    align-items: center;
    
    flex-direction: column;
    
    padding: 20px;

}
.note-img{
    width:  100px;
    width: 310px;
    background-color: #000;
    border-radius: 5px;
}

.notes-title{
    display: block;
    margin-top: 10px;
    
    background-color: rgb(239,239,240);
    border: 2px solid #afb1b6;
    border-radius: 5px;
    width: 510px;
    height: 20px;
    outline: none;
}
.notes-coordinates{
    display: block;
    margin-top: 10px;
    
    background-color: rgb(239,239,240);
    border: 2px solid #afb1b6;
    border-radius: 5px;
    width: 240px;
    height: 20px;
    outline: none;
}
.notes-text{
    margin: 10px 0px   10px 0px;
    max-height: 180px; 
    min-height: 180px;
    max-width: 480px;
    min-width: 480px;
    background-color: rgb(239,239,240);
    border-radius: 5px;
    outline: none;
    // border: 2px solid #afb1b6;
    border: none;

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
}





