.setting{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__menu{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-decoration: none;
    }
    &__menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }    
    &__menu a  {
        text-decoration: none;
        padding: 15px;
        font-family: "Mulish", sans-serif;
        font-weight: 500;
        font-size: 18px;
      
    }
    &__menu svg{
        height: 30px;
        width: 30px;
        margin:10px;
    }
    

}

a:hover{
    // transition:  0.50s;
    transition: background-color 1s ease-in-out;
    color: rgba(73, 40, 109, 1);
    width: 42px;
    height: 42px;
  }
