.create-notes{
    display: block;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    
    justify-content: space-between;
    flex-direction: column; 
    
}

.notes-contents{
    display: flex;
    flex-direction: column; /* Элементы располагаются в виде колонки */
    justify-content: center; 
    margin: 6px ;

    align-items: center;
    
    flex-direction: column;
    
    padding: 20px;

}
.notes-img {
    width:  510px;
    height: 200px;
    background-color: rgba(175, 177, 182, 0.12);
    border-radius: 5px;
    min-width: 255px;
    min-height: 100;
}

.notes-title{
    display: block;
    margin-top: 10px;
    
    background-color: rgb(239,239,240);
    border: 2px solid #afb1b6;
    border-radius: 5px;
    width: 480px;
    height: 10px;
    outline: none;
    padding: 5px 5px 5px 5px;

    min-width: 300px;
    min-height: 10;
   
    outline: 0;
    outline-offset: 0;
    border: 1px solid #AFB1B6 ;
    background: transparent;
}
.notes-coordinates{
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    width: 240px;
    height: 10px;
    outline: none;
    
    padding: 5px 5px 5px 5px;

    outline: 0;
        outline-offset: 0;
        border: 1px solid #AFB1B6 ;
        background: transparent;
   
  
}
.notes-select{
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    width: 252px;
    height: 25px;
    outline: none;
    
    padding: 2px 2px 2px 2px;

    outline: 0;
    outline-offset: 0;
    border: 1px solid #AFB1B6 ;
    background: transparent;
    color: rgba(72, 39, 108, 1);
    font-weight: 400;
    font-size: 12px;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.notes-text{
    margin: 10px 0px   10px 0px;
    max-height: 180px; 
    min-height: 180px;
    width: 460px;
    min-width: 300px;
    background-color: rgb(239,239,240);
    border-radius: 5px;
    outline: none;
    padding: 5px 5px 5px 5px;
    // border: 2px solid #afb1b6;
    border: none;
    background-color: rgba(175, 177, 182, 0.12) ;
    

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 14px;

    
}





