
<form class="">
    <div class="notes-form">    
          <img id="note-img" class="notes-img" src="#" alt="note-img"> 
          <input id="note-title"  class="notes-title" type="text" placeholder="Введите название">
          <input  id="coordinates" class="notes-coordinates" placeholder="Введите координаты" >
  
          <textarea id="note-text" class="notes-note" type="text" placeholder="Введите текст..."></textarea>
  
          <button  class="button main ">Создать заметку</button>
    </div>
  </form>
  