
<form class="notes">
    <div class="notes-form">    
          
          <div id="note-title"  class="notes-title" type="text" >название</div>
          <div  id="coordinates" class="notes-coordinates" >coordinates</div>

      <button class="sidebar-extbtn"    >
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            </svg>    
      </button>

          <img id="note-img" class="notes-img" src="#" alt="note-img"> 

          <div id="note-text" class="notes-note" type="text" > текст </div>
  
          
    </div>
  </form>
  