.notes {
    background-color: #fff;
    width: 310px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    border: 1px solid #000000;
   
  &-contents {
    text-align: center;
  }
  &-img{
    padding: 5px;
    display: block;
    max-width: 450px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  &-form-starbtn {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    margin-left: 16px;
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    border: none;
    
  }
  &-form-starbtn svg{
    fill: rgba(73, 40, 109, 1); 
  }
    &-tripsbtn:before {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  &-form-starbtn:hover {
    color:rgba(73, 40, 109, 1);
    transform: scale(1.1);
    
  }
  
  &-form-starbtn svg:hover *  {
    fill: #ec00b9; /* Желаемый цвет */
  }
  &-form-starbtn:hover::before {
    opacity: 1;
    transform: translateX(5px);  
  }
  &-form-starbtn:active svg {
    fill:rgba(155, 81, 224, 1);  /* Цвет  если нужно изменить */
  }
  
}
