.notes {
    background-color: #fff;
    width: 310px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
       
  &-contents {
    text-align: center;
  }
  &-form{
    border: 2px solid #efeff0;
    border-radius: 12px;
    padding: 8px 8px 12px 8px;
    width: 364px;
    height: 270px;
  }
  &-form-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;

  }
  &-form-coordinates{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #61646b;
  }
  
  &-form-title{
    font-weight: 500;
    color: rgba(73, 40, 109, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.01em;
  }
  &-form-text{
    font-weight: 500;
    color: rgba(73, 40, 109, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
  }
  &-img{
    padding: 5px;
    display: block;
    max-width: 450px;
    height: 180px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  &-form-starbtn {
    display: block;

    margin: 0px;
    padding: 0px;
    background-color: transparent;
    margin-left: 16px;
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    border: none;
    cursor: pointer;
    
  }
  &-form-starbtn svg{
    fill: rgba(73, 40, 109, 1); 
  }
    &-tripsbtn:before {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  &-form-starbtn:hover {
    color:rgba(73, 40, 109, 1);
    transform: scale(1.1);
    
  }
  
  &-form-starbtn svg:hover *  {
    fill: #ec00b9; /* Желаемый цвет */
  }
  &-form-starbtn:hover::before {
    opacity: 1;
    transform: translateX(5px);  
  }
  &-form-starbtn:active svg {
    fill:rgba(155, 81, 224, 1);  /* Цвет  если нужно изменить */
  }
  

}