.index__login { 
  display: grid;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  
  height: 100vh;
}


.index{
    &__logo{
        
        left: 95px;
        width: 589px;
        height: 388px;
       
    }
    &__content{
      gap: 20px;  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      
    }
  
    &__bigTitle{
      font-family: "Mulish", sans-serif;
    }
    &__title {
      font-weight: 500;
      font-size: 18px;
      font-family: "Mulish", sans-serif;
      justify-content: space-between;
      align-items: left;
      flex-direction: column; 
      color: rgba(97, 100, 107, 1);

      // margin-left: 50px;
    

    }
    &__win{
      font-family: "Mulish", sans-serif;
      width: 325px;
      height: 50px;
      border-radius: 10px;
  
      margin-top: 5px;
      font-family: "Mulish", sans-serif;
      border: 2px solid rgba(97, 100, 107, 1);
      outline: none; // Убираем выделение
      border-radius: 10px;
      background-color: transparent;
  
      padding-left: 10px; // Отступ слева 
    
    }
    &__btn{
      display: block;
      margin-top: 30px;
    }&__bigTitle{
      font-size: 30px;
    }
    

  }


