 <form [formGroup] ="userData" 
            (ngSubmit)="onSubmit()">
                 
        <div class="index__login">
            
            <div class="index__logo">
                <img class="#"  src="/client/src/assets/img/logo/JJ-03.svg" alt="">
            </div>
            
            

            <div class="index__content">
                        
                <h1>
                    <span class="index__bigTitle textColor "> Зарегистрироваться <br> или  </span>
                    <span class="index__bigTitle indexTitleColor "> войдите в свой аккаунт</span>
                </h1>
                        <div>
                            <label class="index__title"> Логин или Почта </label> <br>
                            <input 
                            formControlName="email"
                            required
                            id="email" class="index__win " type="text" name="email" placeholder=" Email ">

                            <div *ngIf="userData.controls['email'].invalid &&
                                ( userData.controls['email'].dirty || userData.controls['email'].touched)"
                                class="text-error">

                            <div *ngIf="userData.controls['email'].hasError('required') ">Email is required</div>
                            <div *ngIf="userData.controls['email'].hasError('email')">Please enter a valid email adress</div>
                            </div>

                        </div>
                    
                        

                        <div>
                            <label class="index__title"> Пароль </label> <br>
                            <input formControlName="password"
                            required
                            id="password"  class="index__win" type="password" name="password" placeholder=" Пароль">

                            
                            <div *ngIf="userData.controls['password'].invalid &&
                                ( userData.controls['password'].dirty || userData.controls['email'].touched)"
                                class="text-error">

                                <div *ngIf="userData.controls['password'].hasError('required') ">Email is required</div>

                                <div *ngIf="userData.controls['password'].hasError('minLength')">Please enter a valid password (6)</div>
                            </div>
                        </div>

                        <button 
                        [disabled]="!userData.valid" 
                        id="btnNext" class=" button button__index " > Войти </button>
                        
                    

                </div>
</div>