.index__signup { 
    display: grid;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.textColor{
  color: rgba(97, 100, 107, 1);
}

.index{
  &__logo{
      // background: none;       
      left: 95px;
      width: 589px;
      height: 388px;
      // margin-bottom: 10px;
  }
  &__content{
    gap: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;


  }&__minititle{
    font-family: "Mulish", sans-serif;  
    font-weight: 400;
    font-size: 18px;
    color: rgba(97, 100, 107, 1);
  }
  &__bigTitle{
    font-family: "Mulish", sans-serif;
  }
  &__title {
    font-weight: 500;
      font-size: 18px;
      font-family: "Mulish", sans-serif;
      justify-content: space-between;
      align-items: left;
      flex-direction: column; 
      color: rgba(97, 100, 107, 1);
  }
  &__win{
    font-family: "Mulish", sans-serif;
    width: 325px;
    height: 50px;
    border-radius: 10px;

    margin-top: 5px;
    font-family: "Mulish", sans-serif;
    border: 2px solid rgba(97, 100, 107, 1);
    outline: none; // Убираем выделение
    border-radius: 10px;
    background-color: transparent;

    padding-left: 10px; // Отступ слева 
  }
  &__btn{
    display: block;
    margin-top: 5px;
  }&__bigTitle{
    font-size: 30px;
  }
  
}


.agreePolicy{
    display: flex;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:  rgba(97, 100, 107, 1);
    
}
.signup-checkbox{
  margin-right: 10px; 
  width: 15px;
  height: 15px;
  
  
}











