<form [formGroup] ="userData" 
              (ngSubmit)="onSubmit()">


                    
        <div class="index__signup">
            
                <div class="index__logo">
                    <img class="#"  src="/client/src/assets/img/logo/JJ-03.svg" alt="">
                </div>
                
                

                <div class="index__content">
                            
                    <h1>
                        <span class="index__bigTitle textColor "> Зарегистрироваться <br> или  </span>
                        <span class="index__bigTitle indexTitleColor "> войдите в свой аккаунт</span>
                    </h1>
                            <div>
                                <label class="index__title"> Почта </label> <br>
                                <input 
                                formControlName="email"
                                required
                                id="email" class="index__win " type="text" name="email" placeholder=" Email ">

                                <div *ngIf="userData.controls['email'].invalid &&
                                    ( userData.controls['email'].dirty || userData.controls['email'].touched)"
                                    class="text-error">

                                <div *ngIf="userData.controls['email'].hasError('required') ">Email is required</div>
                                <div *ngIf="userData.controls['email'].hasError('email')">Please enter a valid email adress</div>
                                </div>

                            </div>
                            

                            <div>
                                <label class="index__title"> Логин </label> <br>
                                <input formControlName="username"
                                required
                                id="login" class="index__win" type="text" name="username" placeholder=" Логин">

                                <div **ngIf="userData.controls['email'].invalid " class="text-error">

                                </div>

                            </div>
                            

                            <div>
                                <label class="index__title"> Пароль </label> <br>
                                <input formControlName="password"
                                required
                                id="password"  class="index__win" type="password" name="password" placeholder=" Пароль">

                                
                                <div *ngIf="userData.controls['password'].invalid &&
                                    ( userData.controls['password'].dirty || userData.controls['email'].touched)"
                                    class="text-error">

                                    <div *ngIf="userData.controls['password'].hasError('required') ">Email is required</div>

                                    <div *ngIf="userData.controls['password'].hasError('minLength')">Please enter a valid password (6)</div>
                                </div>
                            </div>

                            

                            <div>
                                <input class=" imput signup__checkbox " type="checkbox"> 
                                <label class="agreePolicy ">Согласен(а) с политикой</label> 
                            </div>

                            <div class="index__minititle " >
                                Выберите тип профиля, <br> который вы хотели бы cоздать
                            </div>
                        
                            <button id="extrovert" class="typebtns " > Экстраверт </button>
                            <button id="Ambiveter" class="typebtns " > Амбиветр </button>
                            <button id="Интроверт" class="typebtns" > Интроверт </button>
                            
                            <button 
                            [disabled]="!userData.valid" 
                            id="btnNext" class=" button button__index " > Cоздать аккаунт </button>
                            
                        

                    </div>
            
              
                
                    
                
              

</div>