.index__signup { 
    display: grid;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.textColor{
  color: rgba(97, 100, 107, 1);
}

.index{
  &__logo{
      // background: none;       
      left: 95px;
      width: 589px;
      height: 388px;
      // margin-bottom: 10px;
  }
  &__content{
    gap: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;


  }&__minititle{
    font-family: "Mulish", sans-serif;  
    font-weight: 400;
    font-size: 18px;
    color: rgba(97, 100, 107, 1);
  }
  &__bigTitle{
    font-family: "Mulish", sans-serif;
  }
  &__title {
    font-weight: 500;
      font-size: 18px;
      font-family: "Mulish", sans-serif;
      justify-content: space-between;
      align-items: left;
      flex-direction: column; 
      color: rgba(97, 100, 107, 1);
  }
  &__win{
    font-family: "Mulish", sans-serif;
    width: 325px;
    height: 50px;
    border-radius: 10px;

    margin-top: 5px;
    font-family: "Mulish", sans-serif;
    border: 2px solid rgba(97, 100, 107, 1);
    outline: none; // Убираем выделение
    border-radius: 10px;
    background-color: transparent;

    padding-left: 10px; // Отступ слева 
  }
  &__btn{
    display: block;
    margin-top: 5px;
  }&__bigTitle{
    font-size: 30px;
  }
  
}


.agreePolicy{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:  rgba(97, 100, 107, 1);
    
}


.typebtns {
  width: 260px;
  height: 40px;
  margin: auto;
  font-family: "Mulish", sans-serif;
  border: 2px solid rgba(97, 100, 107, 1);
  border-radius: 10px;
  background-color: transparent;

  text-align: center;
  font-size: 14px;
  font-weight: 600;

  color: rgba(97, 100, 107, 1);
  text-decoration: none;
  transition: background-color 0.5s, transform 0.5s;
}

.typebtns:hover{
  color: rgba(72, 39, 108, 1);
  font-weight: 800;
  border: 3px solid rgba(72, 39, 108, 1);
  transform: scale(1.1);
}

.typebtns:hover::before {
  opacity: 1;
  transform: translateX(5px);
}



// меню на странице входа и регистрации

.indexbar{
  margin: 0 ;

  display: flex;
 
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  gap: 22px;
}
.indexbar-element{
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}





