
.trips{
    

  
    &-container{
        max-width: 650px;
        height: 200px;
        
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        flex-direction: row;
        
        
        justify-content: space-between;
    }
    &-input{
        width: 400px;
        height: 10px;
        padding: 10px 10px 10px 10px;
        outline: 0;
        outline-offset: 0;
        border-radius: 10px; 

        outline: 0;
        outline-offset: 0;
        border: 1px solid #AFB1B6 ;
        background: transparent;
    }
    &-tripsbtn {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        margin-left: 16px;
        transition: color 0.3s, transform 0.3s;
        text-decoration: none;
        border: none;
        
      }
      &-tripsbtn svg{
        fill: rgba(73, 40, 109, 1); 
      }
        &-tripsbtn:before {
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
      }
      &-tripsbtn:hover {
        color:rgba(73, 40, 109, 1);
        transform: scale(1.1);
        
      }
      
      &-tripsbtn svg:hover *  {
        fill: #AFB1B6; /* Желаемый цвет */
      }
      &-tripsbtn:hover::before {
        opacity: 1;
        transform: translateX(5px);
        
}
}