
<div class="index__container">
                <div class="index__logo">
                    <img class="index__logo img"  src="img/logo/JJ-03.svg" alt="">
                </div>
            
        
                <div class="index__title">
                    <h1>
                        <span class= "title title__fs32bold "> Зарегистрироваться <br> или  </span>
                        <span class="title title__fs32bold titleIndexColor"> войдите в свой аккаунт</span>
                    </h1>
                    

                    <div class="right title__fs18regular">
                        Email
                    </div>
                    <input class="index__win" type="text" name="email" placeholder=" email">

                    <div class="title__fs18regular">
                        Password
                    </div>
                    <input class="index__win" type="password" name="password" placeholder=" Пароль">


                    <div class="index__btn">
                        <a href="home.html" class="button button__main title__fs20bold">Вход</a>
                        <button  id="btnOpenModal" class="button button__main title__fs20bold" > Регистрация </button>
                    </div>
                    

                    <div class="index__socialbtn">
                        <a href="#" class=" social__btns title title__fs14"><img class="socialbtn__img" src="../src/icons/links/Apple.svg" alt=""> Вход через Apple</a>
                        <a href="#" class=" social__btns title title__fs14"><img class="socialbtn__img" src="../src/icons/links/Google.svg" alt=""> Вход через Google</a>
                        <a href="#" class=" social__btns  title title__fs14"> <img class="socialbtn__img" src="../src/icons/links/Yandex.svg" alt=""> Вход через Yandex</a>

                        <!-- 
                        <button class="social_btn  title title_fs14"> <img src="../src/icons/links/Google.svg" alt=""> Вход через Google</button>
                        <button class="social_btn  title title_fs14"> <img src="../src/icons/links/Apple.svg" alt=""> Вход через Facebook</button>
                        <button class="social_btn  title title_fs14"> <img class="" src="../src/icons/links/Yandex.svg" alt=""> Вход через Yandex</button> -->
                    </div>
                </div>
</div>