
.container{
  width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
}
    
.ribbon-wrapper{
  margin-left: 12px;
  max-width: 1000px;
  margin-top: 20px ;
  display: flex;
  align-items: center;
  
  

}





