
.postHome{
    
    &__container{
        margin: 0 auto;
        margin-top: 56px;
        grid-template-columns: 355px 355px;
        grid-gap: 30px 17px;
        display: grid;
        grid-auto-rows: minmax(217 , 294);
        justify-content: center;
    }
    &__item{
        padding: 10px;
    }
    
}


.ribbon-wrapper{
    display: grid;
    

    grid-gap: 30px 17px;
    margin-top: 56px;
    grid-template-columns: 355px 355px;
    grid-auto-rows: minmax(217 , 294);
    justify-content: center;

    
   
    
}
