

<section class="ribbon">
        
            <div class="ribbon__buttons">
                
                <button class="btn  button button__main" data-path="form-popup" > Создать заметку </button> 
                <button  class="btn  button button__main" data-path="me-popup" > моя карта </button>

            </div>

</section>

<section class="ribbon__wrapper">

            <div class="postHome__container">

                        <div class="postHome">
                        <h3 class="postHome__title title__fs16"> Название заметки </h3>

                        <p class="post__coordinats title__fs12 "> <img src="/src/icons/locationPost.svg" alt=""> 8967564676 </p>

                        <div class="postHome__image">
                            <img class="postHome__img" src="/src/img/works/city-4807268_640.jpg" alt=""> 
                        </div>
                        <div class="post__note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec orci volutpat,....   </div>
                        </div>

            </div> 
</section> 