.ribbon {
    
    &__buttons{
        margin-top: 30px;
        grid-template-columns: 325px 325px;
        justify-content: center;
        grid-gap: 65px;
        display: grid;
        background: none;
    }
    
}

.postHome{
    
    &__container{
        margin: 0 auto;
        margin-top: 56px;
        grid-template-columns: 365px 365px;
        grid-gap: 30px 17px;
        display: grid;
        grid-auto-rows: minmax(217 , 294);
        justify-content: center;
    }
    &__item{
        padding: 10px;
    }
    
}
