.profile{
    &__container{
        width: 520px;
        height: 320px;
        
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        
        
        justify-content: space-between;
        flex-direction: column; 
    }
    &-avatar{
        display: block;
        margin-top: 60px;
        height: 56px;
        width: 56px;
        
        border-radius: 50px;
    }
    &-statistVisit{
        max-width: 300px;
        grid-template-columns: 110px 110px;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
        display: grid;

        // color: $primaryColor;
    }
    &__statist  {
        max-width: 400px;
        grid-template-columns: 120px 140px 120px;
        column-gap: 5px;
        flex-direction: row;
        justify-content: center;
        display: grid;

        font-weight: 400;
        font-size: 16px;
        line-height: 133%;
        letter-spacing: 0.02em;
        color: #61646b;
        // color: $textColor;
    }
    &__buttons{
        margin: 10px;
        grid-template-columns: 200px 200px;
        justify-content: center;
        grid-gap: 40px;
        display: grid;
        
    }
    &__bigtitle{
        margin-top: 10px;
        text-align: center;
        // color: $primaryColor;
        text-transform: uppercase;
    }
    &-stattitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 133%;
        letter-spacing: 0.02em;
        color: #61646b;
      }
      
    &-title{
        font-weight: 500;
        color: rgba(73, 40, 109, 1);
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
      }
    
    
}


.profile-ribbon-wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца одинаковой ширины */
    grid-gap: 40px; /* Расстояние между постами */

}

.line{
    margin-top: 60px;
    width: 475px;
    height: 1px;
    background: #EFEFF0;

    position: relative; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    justify-content: center;
    display: flex;
}



