.profile{
    &__container{
        width: 520px;
        height: 320px;
        
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        
        
        justify-content: space-between;
        flex-direction: column; 
    }
    &-avatar{
        display: block;
        margin-top: 60px;
        height: 56px;
        width: 56px;
        
        border-radius: 50px;
    }
    &-statistVisit{
        max-width: 300px;
        grid-template-columns: 110px 110px;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
        display: grid;

        // color: $primaryColor;
    }
    &__statist  {
        max-width: 412px;
        grid-template-columns: 130px 150px 130px;
        column-gap: 10px;
        flex-direction: row;
        justify-content: center;
        display: grid;
        // color: $textColor;
    }
    &__buttons{
        margin: 10px;
        grid-template-columns: 200px 200px;
        justify-content: center;
        grid-gap: 40px;
        display: grid;
        
    }
    &__title{
        margin-top: 10px;
        text-align: center;
        // color: $primaryColor;
        text-transform: uppercase;
    }
    
    
}


.postAccount{
    
    &__container{
        margin-top: 56px;
        grid-template-columns: 256px 256px;
        grid-gap: 30px 17px;
        display: grid;
        grid-auto-rows: minmax(217 , 294);
        justify-content: center;
    }

    
}

.line{
    margin-top: 60px;
    width: 475px;
    height: 1px;
    background: #EFEFF0;

    position: relative; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    justify-content: center;
    display: flex;
}
