


<div class="notes">
                <div class="notes-content">
                    <!-- <span class="close" onclick="closeModal('modal1')">&times;</span> -->
                    <img id="img_note" class="modal__img" src="#" alt=""> 
      
                    <input id=" note_title"  class="modal__noteName" type="text" placeholder="Введите название">
                    <input  id="coordinates" class="modal__noteCoordinates">
      
                    <textarea id="note_text" class="modal__note" type="text" placeholder="Введите текст..."></textarea>
      
                    <button  class="button button__main  button__center">Создать заметку</button>
                  </div>
</div>
